.karla_font{
    font-family: 'Karla' ;
}
.montserrat_font{
    font-family: 'Montserrat';
}
.hideOnNormal{
    display:none;
}
.noTxtDecoration{
    text-decoration: none!important;
}
a{
    text-decoration: none!important;
}
.blackTxt{
    color:black;
}
.superTitleTxt{
    font-size: 4em;
}
.registrationFormTitleTxt{
    font-size:3em;
}
.registrationFormSubTitleTxt{
    font-size:25px;
}
.titleTxt{
    font-size: 30px;
}
.subTxt{
    font-size: 20px;
}
.float-right-footer{
    float:right;
}
.seeBorder{

border:1px solid;
}
.fullWidth{
    width: 100%;
}
.paddText{
    padding-left: 2em;
    padding-right:2em;
}
.reduce2Icon{
    max-width: 25%;
    max-height: auto;
    height:122px;
    
}
.sectionSeparation{
    margin-top: 6em;
}
.leftSeparation{
    margin-left:10px;
}
.supTxt-TitleTxt-Separation{
    margin-top: 4em;
}
.startTopSeparation{
    margin-top: 2em;
}
.formRowSeparation{
    margin-top:2em;
}
.showWhenSM{
    display:none;
}
.my-image{
    object-fit: contain;
}
.paddingForm{
    max-width:50%;
    height:auto;
    margin:auto;    
}
.maxInputMargin{
    max-width: 50%;
}


.roundBorderButton{
    text-decoration: none!important;
    border-radius:6px;
    border: 2px solid black;
    padding:10px;
    color:black;
    transition-duration:0.4s;
}
.roundBorderButton:hover{
    background-color: black;
    color:white !important;
}
#logIn{
    padding:10px;
    border-radius:6px;
    transition-duration:0.4s;
    color:#801EE8;
}
#logIn:hover{
    background-color: #801EE8;
    color:white;
}
.backGEffect1{
    transition-duration:0.4s;
}
.backGEffect1:hover {
    background-color: #C3B3FF;
   
}
.backGEffect2{
    transition-duration:0.4s;
}
.backGEffect2:hover {
    background-color: yellow;
    
}
.backGEffect3{
    transition-duration:0.4s;
}
.backGEffect3:hover {
    background-color: #A6C2FF;
    
}
.backGEffect4{
    transition:0.4s;
}
.backGEffect4:hover{
    color:white !important;
}
footer{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: none;
    padding-top: 2em;
    font-size: 15px;
   
}
.glyphiconSize{
    font-size: 20px;
}
.form-control:focus {
    border-color: #47EBCE !important;
    
}
.submitButton{
    width: 100%;
    font-size: 20px;
    padding:15px;
    font-family: 'Montserrat';
    border:0px;
    background-color: #AC6CEB;
    transition: 0.4s;
} 
.submitButton:hover{
    background-color: #954FEB;
}
@media only screen and (max-width: 768px){

    .hideOnXs{
        display:none;
    }

    .hideOnNormal{
        display:block;
    }

    .centerOnXs{
        margin-left:auto;
        margin-right: auto;
        text-align: center;
        display:block;
        float:none;
    }

    .float-right-footer{
        float:none;
    }

    .stopPadding{
        padding:0 !important;
        
    }
    div[name="pContainer"]{
        padding-bottom: 2em;
    }
    .separationOnXs{
        margin-bottom: 1em;
    }

    .paddingForm{
        max-width: 80%;
    }

}
