<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../../partials/headers", {showSEOTags:false})  %> 

    <link rel="stylesheet" href="/css/main.css">

    <title>Talla'o | Cuenta verificada anteriormente</title>
</head>

<body>
    <div class="container startTopSeparation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <img  style="width: 30%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                </a>
            </div>
        </div>
    </div>


    <div class="container startTopSeparation  montserrat_font" >
        <div class="text-center karla_font">
            <h1 class="registrationFormTitleTxt" id="registrationFormTitleTxt">¡CORREO CONFIRMADO!</h1>
            <h3 class="registrationFormSubTitleTxt" id="registrationFormSubTitleTxt">¡Ya puedes iniciar sesión y disfrutar de Talla'o!</h3>

            <br>

            <a href="/loginPage">
                <b>Iniciar sesión</b>
            </a>

        </div>
    </div>    
</body>

<%- include("../../partials/footer")  %> 

</html>