<!DOCTYPE html>

<html>

    <head>

        <%- include("../partials/headers") %> 
    
        <link rel="stylesheet" href="/css/main.css">
        <script defer src="/builds/laundryPanel.js"></script>

    </head>

    <title id="pageTitle"></title>

    
    <body>

        <div id="NavbarContainer"></div>

          <div style="margin:5em;"></div>

          <div class="container">


            <div class="  karla_font showIDTxt bottomBorder">

                <div class="row">
                    <div id="showLaundryName" class="text-center col-lg-12">
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-lg-12 titleTxt">
                        <span id="containerDateTime"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-lg-12 titleTxt">
                        <span id="containerCurrentOrderID">Orden A 32</span>
                    </div>
                </div>

            </div>
            
           
            <div id="successAnimation" class="successAnimStyleDiv hide karla_font" >
                <div class="checkAnim" id="checkAnimation"></div>
                <br>
                <div id="successMessage" class="successMessageAnim titleTxt">
                    ¡ORDEN COMPLETADA!
                </div> 
            </div>

             <div class="container-fluid  montserrat_font smallSeparation" id="receiptConfigPanel" >

                    <div class="row "  style="max-height:100%;">

                        <div class="col-lg-8  ">

                            <div class="titleTxt text-center">Detalles de la factura:</div>

                            <div class="container text-center" id="containerSelectedClient">
                                
                            </div>

                            <div class="small-mediumSeparation"></div>

                            <div id="activeElementsOnOrderContainer" class="eightyPercentMaxHeight bottomBorder rightBorder scrollY text-center">
                            </div>

                            <div class="smallSeparation ">
                                <span id="inputsHookContainer"></span>
                                <span class="totalPriceSpan">
                                    <span id="totalPriceSpanTag">Precio Total: $</span>
                                    <span id="totalPriceSpanValue"></span>
                                </span>
                            </div>

                            <div class="supTxt-TitleTxt-Separation">
                                <b><label for="inputIndications">Observaciones:</label></b>
                                <br>
                                <textarea name="inputIndications" id="inputIndications" style="width: 100%;"></textarea>
                                <br>

                                <div id="containerCustomMessages"></div>
                            </div>

                        </div>
                        

                        <div class="col-lg-4 text-center ">

                            <div class="titleTxt">Elementos</div>

                            <div class="row">

                                <div class="col-lg-12 text-center">
                
                                    <span class="karla_font">Selecciona el servicio</span>
                
                                </div>
                            </div>
                            
                            <div class="row smallSeparation">
                                <div class="col-lg-12 text-center" id="containerServiceSelector">
                                </div>
                            </div>
                            
                            <div id="containerSelectableElements" class="eightyPercentMaxHeight doubleScrollable scrollY"></div>

                        </div>

                    </div>

                    <div class="row small-mediumSeparation">

                        <div class="col-lg-12">

                            <div class="container text-center">

                                <div class="row small-mediumSeparation">

                                    <div class="col-lg-12 formRowSeparation ">
                                        
                                        <span id="tagDateTimeDiv" class="subTxt">
                                            <b>Programar la orden</b>
                                        </span>
                                    </div>
                                </div>

                                <div class="row smallSeparation" >
                                    <div class="col-lg-12 formRowSeparation" id="containerDateTimeInput">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row supTxt-TitleTxt-Separation">
                        <div class="col-lg-12 formRowSeparation" id="containerSubmit">
                        </div>
                    </div>

                </div>
            </div>
    </body>

    <%- include("../partials/footer") %> 

</html>