<!DOCTYPE html>

<html>

<head>

    <%- include("../partials/headers") %> 
    
    <link rel="stylesheet" href="/css/main.css">

    <script defer src="builds/login.js"></script>

</head>

<title id="title/loginPage">Talla'o | Inicio de sesión</title>

<body>
    
    <div class="container startTopSeparation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <img  style="width: 30%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                </a>
            </div>
        </div>
    </div>

    <div class="container startTopSeparation  montserrat_font" >
        <div class="text-center karla_font">
            <h1 class="registrationFormTitleTxt" id="registrationFormTitleTxt">Inicia sesión</h1>
            <h3 class="registrationFormSubTitleTxt" id="registrationFormSubTitleTxt">Tu horario, tu tiempo</h3>
        </div>
        
        

        <form action="php/userLoginProcess.php" method="POST" class="paddingForm" id="frmUserLogin">
            
            

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputEmail" id="lbl4Email">Correo Electrónico </label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Correo Electrónico">
                </div>
            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputPassword" id="lbl4Password"> Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                </div>
            </div>

            <div class="form-row formRowSeparation" id="registerLink"><a href="/register">¿No tienes una cuenta? Regístrate </a></div>

            <button class="submitButtonLoginSuperUser formRowSeparation disableButton" type="submit" id="submitLoginLaundry">Iniciar sesión como lavandería</button>

            <button class="submitButtonLogin formRowSeparation disableButton" type="submit" id="submitLoginUser">Iniciar sesión como usuario</button>
        
        </form>

        

    </div>

</body>

<%- include("../partials/footer") %> 

</html>