<!DOCTYPE html>

<html>

    <head>

        <%- include("../partials/headers") %> 
    
        <link rel="stylesheet" href="/css/main.css">
        <script defer src="/builds/myOrders.js"></script>


    </head>

    <title id="myAccountPageTitle"></title>

    <body>
        <div id="NavbarContainer"></div>
       
        <div style="margin:5em;"></div>

        <div id="root"></div>
    </body>

    <%- include("../partials/footer") %> 


</html>