<!DOCTYPE html>

<html>

    <head>

        <%- include("../partials/headers") %> 
    
        <link rel="stylesheet" href="/css/main.css">
        <script defer src="/builds/myOrders.js"></script>


    </head>

    <title id="myAccountPageTitle"></title>

    <body>
        <div id="NavbarContainer"></div>
       
        <div style="margin:5em;"></div>

          <div class="container montserrat_font ">

            <div class="row">
                <div class="col-lg-12 karla_font text-center titleTxt" id="tagTitleOrderPage">
                    <%-ordersAffiliatedToYourLaundry %> 
                </div>
            </div>  

            <div class="row supTxt-TitleTxt-Separation centerOnXs" id="OrderParamsSelectorContainer"></div>

            <div class="row small-mediumSeparation" id="AppendOrdersContainer">

            </div>

            <div id="OrderModalContainer"></div>

            <div id="orderDetailsModal" name="modalCustom" class="modalCustom hide">

                <div class="modal-contentCustom " name="modalContent">
                    <button class="closeButtonStyle">x</button>
                    <div class="modal-headerCustom ">
                        <span name="spnReceiptId" >Orden B-37</span>
                        <!-- <span class="close">&times;</span> -->
                        
                    </div>

                    <hr class="hrBlackBorder">
                    
                    <div class="modal-bodyCustom row">

                        <div class="col-lg-6 rightBorderModal">

                            <div name="divReceiptStatus" class="bold">
                                <span name="spnStatusTag">Estado:</span>
                                <span name="spnStatusData">Esperando</span>
                            </div>
                            
                            <div name="divReceiptClientName">
                                <span class="bold" name="spnReceiptClientNameTag">Cliente:</span>
                                <span name="spnReceiptClientNameData" >Robert Lu Zheng</span>
                                <span name="inputClientID"></span>
                            </div>
                            <div name="divReceiptDateReceive">
                                <span class="bold" name="spnReceiptDateReceiveTag">Día Recibido:</span>
                                <span name="spnReceiptDateReceiveData" >2020/05/29 9:59 AM</span>
                            </div>    
                            <div class="smallSeparation text-center" name="divReceiptDateAssign">
                                <span class="bold" name="spnReceiptDateAssignTag">Día Asignado:</span>
                                <span name="spnReceiptDateAssignData">2020/05/31 1:00 PM</span> 
                            </div>
                            <div class="text-center bold" name="divDateDifference">Faltan 2 días y 4 horas</div>


                            <div name="divOrderElements" class="smallSeparation">
                                <div class="bold" name="divElementsTag">Elementos:</div>

                                <span class="bold">
                                    Planchado:
                                </span>
                                <div name="appendReceiptOrderElements">
                                    <div element="shirt-iron">
                                        <span class="bold">&ensp;&ensp;&ensp;&ensp;Camisa($0.65) = </span>
                                        <span class="floatRight">15</span>
                                    </div>
                                    
                                    <div element="shirt-iron">
                                        <span class="bold">&ensp;&ensp;&ensp;&ensp;Camisa($0.65) = </span>
                                        <span class="floatRight">15</span>
                                    </div>
                                </div>

                                <span class="bold">
                                    &ensp;&ensp;Lavado y planchado:
                                </span>
                                <div name="appendReceiptOrderElements">
                                    <div element="shirt-iron">
                                        <span class="bold">&ensp;&ensp;&ensp;&ensp;Camisa($0.65) = </span>
                                        <span class="floatRight">15</span>
                                    </div>
                                    
                                    <div element="shirt-iron">
                                        <span class="bold">&ensp;&ensp;&ensp;&ensp;Camisa($0.65) = </span>
                                        <span class="floatRight">15</span>
                                    </div>
                                </div>
                            </div>

                            <div name="divReceiptHookQuantity" class="smallSeparation smallSeparationOnXs">
                                <span class="bold" name="spnReceiptHookQuantityTag">Cantidad de Ganchos/Perchas:</span>
                                <span class="floatRight" name="spnReceiptHookQuantityData">15</span>
                            </div>

                            <div name="divReceiptPrice" class="oneEMSeparation">
                                <span class="bold" name="spnReceiptPriceTag">Precio:</span>
                                <span class="floatRight" name="spnReceiptPriceData">$15.00</span>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <form action="">

                                <fieldset class="border p-2">

                                    <legend class="w-auto legendTxt">Notificaciones y Chat</legend>

                                    <div name="divReceiptIndications">
                                        <span class="bold" name="spnReceiptIndicationsTag">
                                            Indicaciones:
                                        </span>

                                        <span name="spnReceiptIndicationsData">Sin pliegue</span>
                                    </div>

                                </fieldset>

                            </form>
                        </div>

                    </div>

                    <div class="row oneEMSeparation">
                        <button class="col-lg-12 modalStateButton" name="modalStateButton">
                            PLANCHAR
                        </button>
                    </div>
             
                </div>
            
            </div>

    </body>

    <%- include("../partials/footer") %> 


</html>