<!DOCTYPE html>

<html>

    <head>

    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="Lavandería, Planchado, Ropa, Lavado">
    <meta name="author" content="Talla'o">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="/builds/userPanel.js"></script>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    

    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    </head>

    <title id="pageTitle"></title>

    <body>
        <div id="NavbarContainer"></div>

        <div style="margin:5em;"></div>

        <div class="container">
        <div class="  karla_font showIDTxt">
            <div class="row bottomBorder ">
                <div id="showID" class="text-center col-lg-12">
                    <span >Tu ID Público es: </span>
                    
                </div>
            </div>
        </div>


        <div class="container  montserrat_font smallSeparation">

                <div class="row "  style="max-height:100%;">

                    <div class="col-lg-8 text-center  ">

                        <div class="titleTxt">Órdenes que no has recogido aún</div>


                        <div class="small-mediumSeparation"></div>


                        <div class="eightyPercentMaxHeight rightBorder scrollY container">
                            <div id="container4Orders" class="row"></div>
                        </div>

                    </div>
                    

                    <div class="col-lg-4 text-center ">

                        <div class="titleTxt">Notificaciones</div>

                        <div class="small-mediumSeparation"></div>

                        <div id="divNotificationsAppendable" class="eightyPercentMaxHeight  scrollY">
                            
                        </div>

                    </div>

                </div>
            </div>

          </div>

          <div id="OrderModalContainer"></div>

    </body>

    <div class="container-fluid sectionSeparation" id="contact" style="margin-bottom: 2em;">

        <div class="row"> 
    
            <div class="col-lg-12">
    
                <footer id="footer" >
    
                        <div class="container centerOnXs" style="padding: 2em; ">
                            <div class="row">
    
                                <div class=" col-lg-6 col-xs-12 separationOnXs">
                                    <a href="/">
                                    <img  style="width: 40%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                                    </a>    
                                </div>
    
                                <div class="col-lg-6 col-xs-12 " >
    
                                    <div  class="montserrat_font float-right-footer">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <span>Contacto:<a href="rluzheng@gmail.com"> rluzheng@gmail.com</a> </span>
    
                                        <br>
    
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <span>Español</span>
    
                                        <br>
    
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                        <span ><a href=""><b>Retroalimentación</b></a></span>
                                    </div>
    
    
                                </div>
    
                               
    
                            </div>
    
                            
    
                            <div class="row supTxt-TitleTxt-Separation">
    
                                <div class="col-lg-4">
    
                                    
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="montserrat_font">Panamá</span>
                                    
                                </div>
    
                                <div class="col-lg-4">
    
                                    <span class="montserrat_font">©2020 Talla'o Todos los derechos reservados</span>
    
                                </div>
    
                                <div class="col-lg-4 ">
                                    <a href="" class="float-right">
    
                                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                    
                                    </a>    
                                </div>
    
                            </div>
    
                        </div>
    
                </footer>
    
            </div>
    
        </div>
    
    </div>

</html>