<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../../partials/headers")  %> 

    <link rel="stylesheet" href="/css/main.css">

    <title>Talla'o | Retroalimentación</title>
</head>

<body>
    <div class="container startTopSeparation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <img  style="width: 30%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                </a>
            </div>
        </div>
    </div>


    <div class="container startTopSeparation  montserrat_font" >
        <div class="text-center karla_font">
            <h1 class="registrationFormTitleTxt" id="title">Retroalimentación</h1>
            <h3 class="registrationFormSubTitleTxt" id="subTitle1">
                ¡MUCHAS GRACIAS POR TU COMENTARIO!
            </h3>

            <h3 class="registrationFormSubTitleTxt" id="subTitle2">
                Estamos muy ansiosos de poder escuchar tus experiencias.
                Nos compremetemos a mejorar tu experiencia
            </h3>

            <br>

            <a href="/">
                <b>Regresar a la página principal</b>
            </a>

        </div>
    </div>    
</body>

<%- include("../../partials/footer")  %> 

</html>